			<div class="row">

				
				<div class="col-sm-12 col-md-12">

					<div class="block-flat">
						<div class="header">							
							<h3>Média de Imagens por usuário</h3>
						</div>
						<div class="content">
							<div id="site_statistics2" style="height: 180px; padding: 0px; position: relative;"></div>							
						</div>
					</div>

					<div class="block-flat">
						<div class="header">							
							<h3>Taxa de falhas na postura em relação a quantidade de usuários</h3>
						</div>
						<div class="content full-width">
							<div id="chart3-legend" class="legend-container"></div>
							<div id="chart3" style="height: 260px;"></div>							
						</div>
					</div>
				</div>			
			</div>
	</div> 
	


