<div class="m-login__form-action">
  <a href="#" id="m_login_signup">
    <%= image_tag "googlePlay.png", style: "width: 150px; height: auto;" %>
    <%= image_tag "appStore.png", style: "width: 143px; height: auto;" %>
  </a>
</div>