<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
					<!-- BEGIN: Aside Menu -->
	<div 
		id="m_ver_menu" 
		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " 
		m-menu-vertical="1"
		 m-menu-scrollable="0" m-menu-dropdown-timeout="500"  
		>
						<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
							<li class="m-menu__item  m-menu__item--active" aria-haspopup="true" >
								<a  href="/admin/dashboard" class="m-menu__link ">
									<i class="m-menu__link-icon flaticon-line-graph"></i>
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Dashboard
											</span>
											<!-- <span class="m-menu__link-badge">
												<span class="m-badge m-badge--danger">
													2
												</span>
											</span> -->
										</span>
									</span>
								</a>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Menu
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-user"></i>
									<span class="m-menu__link-text">
										Clientes
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="#" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="#" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="#" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Enviar mensagem
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-imac"></i>
									<span class="m-menu__link-text">
										Emissoras e Afiliadas
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/emissoras/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar Emissora
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/emissoras" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar Emissoras
												</span>
											</a>
										</li>
										<!-- END ITEM -->


										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/afiliadas/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar Afiliada
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/afiliadas" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar Afiliadas
												</span>
											</a>
										</li>
										<!-- END ITEM -->

										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							



							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-app"></i>
									<span class="m-menu__link-text">
										Geren. do App
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>

								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													Perfil de usuários
												</span>
											</span>
										</li>
										<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
											<a  href="javascript:;" class="m-menu__link m-menu__toggle">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Perfil de usuários
												</span>
												<i class="m-menu__ver-arrow la la-angle-right"></i>
											</a>
											<div class="m-menu__submenu ">
												<span class="m-menu__arrow"></span>
												<ul class="m-menu__subnav">
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Criar
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Editar
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Total de pontos distribuídos
															</span>
														</a>
													</li>
													<!-- END ITEM -->

													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Últimas transações de pontos
															</span>
														</a>
													</li>
													<!-- END ITEM -->

													
												</ul>
											</div>
										</li>
										<!-- END SUBMENU ITEM -->


										<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													Lista de lojas
												</span>
											</span>
										</li>
										<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
											<a  href="javascript:;" class="m-menu__link m-menu__toggle">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Lista de lojas
												</span>
												<i class="m-menu__ver-arrow la la-angle-right"></i>
											</a>
											<div class="m-menu__submenu ">
												<span class="m-menu__arrow"></span>
												<ul class="m-menu__subnav">
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Editar lojas
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Criar loja
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Qnt. de produtos vendidos por loja
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Extrato de vendas por loja
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Rastreamento da venda
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="#" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Produtos
															</span>
														</a>
													</li>
													<!-- END ITEM -->

												</ul>
											</div>
										</li>

										
										<!-- END SUBMENU ITEM -->



										<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" >
											<span class="m-menu__link">
												<span class="m-menu__link-text">
													Lista de lojas
												</span>
											</span>
										</li>
										<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
											<a  href="javascript:;" class="m-menu__link m-menu__toggle">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Campanhas e Promoções
												</span>
												<i class="m-menu__ver-arrow la la-angle-right"></i>
											</a>
											<div class="m-menu__submenu ">
												<span class="m-menu__arrow"></span>
												<ul class="m-menu__subnav">
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="/admin/campaigns/new" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Criar
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													<li class="m-menu__item " aria-haspopup="true" >
														<a  href="/admin/campaigns" class="m-menu__link ">
															<i class="m-menu__link-bullet m-menu__link-bullet--dot">
																<span></span>
															</i>
															<span class="m-menu__link-text">
																Editar
															</span>
														</a>
													</li>
													<!-- END ITEM -->
													

												</ul>
											</div>
										</li>


									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->



							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-list-1"></i>
									<span class="m-menu__link-text">
										Categorias
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/categories/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/categories" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-alert-1"></i>
									<span class="m-menu__link-text">
										Notificações Push
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/notifications/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Enviar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/notifications" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Histórico
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-network"></i>
									<span class="m-menu__link-text">
										Interesses
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/interests/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/interests" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-profile"></i>
									<span class="m-menu__link-text">
										Anunciantes
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/advertisers/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar anunciante
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/advertisers" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar anunciante
												</span> 
											</a>
										</li>
										<!-- END ITEM -->

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/advertisers_categories/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar categoria
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/advertisers_categories" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar categoria
												</span> 
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->



							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-graph"></i>
									<span class="m-menu__link-text">
										Relatórios
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>

								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/reports/tv" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													TV
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/reports/radio" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Rádio
												</span>
											</a>
										</li>
										<!-- END ITEM -->


										

									</ul>
								</div>


							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-user-settings"></i>
									<span class="m-menu__link-text">
										Usuários
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/levels/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar Nível
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/levels" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar Níveis
												</span>
											</a>
										</li>
										<!-- END ITEM -->

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/usuarios" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Gerenciar usuários
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->


							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  m-menu-submenu-toggle="hover">
								<a  href="javascript:;" class="m-menu__link m-menu__toggle">
									<i class="m-menu__link-icon flaticon-avatar"></i>
									<span class="m-menu__link-text">
										Administradores
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu ">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">

										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/administradores/new" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Criar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										<li class="m-menu__item " aria-haspopup="true" >
											<a  href="/admin/administradores" class="m-menu__link ">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Editar
												</span>
											</a>
										</li>
										<!-- END ITEM -->
										

									</ul>
								</div>
							</li>
							<!-- END MENU ITEM -->




							
						</ul>
					</div>
					<!-- END: Aside Menu -->
				</div>
				<!-- END: Left Aside -->